<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457492277141-00o5f1d4k7jhkhhm695210hehujq91k3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457492277141-00o5f1d4k7jhkhhm695210hehujq91k3</string>
	<key>API_KEY</key>
	<string>AIzaSyAHJKis2X1SsrmYfbJ4I-Uov7aO1n5wg70</string>
	<key>GCM_SENDER_ID</key>
	<string>457492277141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.breno.behappy</string>
	<key>PROJECT_ID</key>
	<string>behappy-5202f</string>
	<key>STORAGE_BUCKET</key>
	<string>behappy-5202f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457492277141:ios:9b1e8c202e52ff3d73b89c</string>
</dict>
</plist>